$stone-white: #E9ECE5;
$smoke-white: #f5f5f5;
$dark-grey: #3B3A36;
$olive-grey: #B3C2BF;
$red: #CF5C3F;
$green: #80BD93;
$dark-blue: #292E49;
$grey: #536976;
$transparent-white: rgba(255, 255, 255, 0.1);
