<ng-container *ngIf="{
  loading: loading$ | async,
  books: books$ | async
} as data">

  <div *ngIf="data.loading">
    <img src="assets/spinner.gif" alt="Searching books loader">
  </div>

  <div *ngIf="showWelcome(data)">
    <img src="assets/book1.gif" alt="Welcome gif">
  </div>

  <div *ngIf="showNoResults(data)">
    <img src="assets/try-again.gif" alt="No results found">
  </div>

  <div class="grid" *ngIf="showResults(data)">
    <app-book-card
      *ngFor="let book of data.books"
      [book]="book"
      (click)="getBooksInfo(book)"
      (imageIsLoaded)="resizeAllGridItems()">
    </app-book-card>
  </div>

</ng-container>
