@import "src/assets/styles/colors";

:host ::ng-deep {
  width: 50%;
  display: flex;
  margin: 50px auto 0;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $dark-blue;
    margin: 0;
    text-align: center;
  }

  .mat-flat-button {
    margin-bottom: 20px;
  }

  .mat-form-field {
    width: 85%;

    .mat-form-field-infix {
      padding: .5em 0 1.3em 1.5em;

      .mat-form-field-label-wrapper {
        left: 1.5em;

        .mat-form-field-label {
          top: 1.35em;
        }
      }
    }

    .mat-form-field-flex {
      background: $smoke-white;
      align-items: center;
      border-radius: 30px;

      .mat-form-field-suffix {
        .mat-button {
          margin-right: 1.5em;
          color: $dark-blue;
        }
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}
