<mat-icon
  class="close"
  (click)="closeDialog()">close</mat-icon>

  <h1 *ngIf="book.title">{{book.title}}</h1>
  <h3 *ngIf="book.subtitle">{{book.subtitle}}</h3>

<div class="extra-details">
  <p *ngIf="book.authors">
    <span>Authors: </span>
    {{book.authors}}
  </p>
  <p *ngIf="book.publishedDate">
    <span>Published on: </span>
    {{book.publishedDate}}
  </p>
  <p *ngIf="book.rating">
    <span>Rating: </span>
    {{book.rating}}
  </p>
  <p *ngIf="book.pageCount">
    <span>Pages: </span>
    {{book.pageCount}}
  </p>

  <button
    *ngIf="(isItemInWishlist$ | async) === false"
    mat-mini-fab
    matTooltip="Add to wish list"
    (click)="addToWishList()">
    <mat-icon>add</mat-icon>
  </button>
  <button
    *ngIf="isItemInWishlist$ | async"
    mat-mini-fab
    matTooltip="Remove from wish list"
    class="remove"
    (click)="removeToWishList()">
    <mat-icon>remove</mat-icon>
  </button>
</div>
<p>{{book.description}}</p>
