@import "src/assets/styles/colors";

:host {
  ::ng-deep {
    .mat-card {
      cursor: pointer;
      transition: background-color .5s linear;
      &:hover {
        background-color: lighten($green, 20%);
      }
    }
  }
}
